<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <script th:src="@{/plugins/layui/layui.js}"></script>
</head>
<body>
<div class="layui-container layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" id="id" value="">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">培训名称</label>
            <div class="layui-input-inline">
                <input id="planName" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">培训方式</label>
            <div class="layui-input-inline">
                <input id="planType" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">起始时间</label>
            <div class="layui-input-inline">
                <input id="planBeginTime" lay-verify="required" type="text" class="layui-input" placeholder="培训起始时间">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input id="planEndTime" type="text" lay-verify="required" autocomplete="off" class="layui-input" placeholder="培训结束时间">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">培训内容</label>
            <div class="layui-input-inline">
                <input id="planContent" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">培训目的</label>
            <div class="layui-input-inline">
                <input id="eduPurpose" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">培训对象</label>
            <div class="layui-input-inline">
                <input id="planObject" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <input id="" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 350px">
            <button id="saveJH" type="button" style="margin-left: 40px" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
        <div class="layui-inline">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</div>
<script>
    layui.use(['element', 'laydate', 'table', 'form'], function () {
        var $ = layui.jquery
            , table = layui.table
            , form = layui.form
            , laydate = layui.laydate;
        laydate.render({
            elem: "#planBeginTime",
            trigger: 'click'
        });
        laydate.render({
            elem: "#planEndTime",
            trigger: 'click'
        });
    });
</script>
</body>
</html>
