<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <script th:src="@{/plugins/layui/layui.js}"></script>
</head>
<body>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">安全教育培训计划</li>
        <li>安全教育培训变更记录</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table id="pxJH" lay-filter="jhEdit" class="layui-table"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select onchange="selectType();" lay-filter="brickType" id="selectType" name="quiz1">
                                <option value="0" selected="">按年份查询</option>
                                <option value="1">按月份查询</option>
                                <option value="2">按日期查询</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="yearSelect" placeholder="yyyy">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="monthSelect" placeholder="yyyyMM">
                        </div>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="dateSelect" placeholder="yyyyMMdd">
                        </div>
                    </div>
                </div>
            </script>
        </div>
        <div class="layui-tab-item">
            <fieldset class="layui-elem-field layui-field-title">
                <button id="addX" class="layui-btn">新增<span class="layui-badge-dot layui-bg-orange"></span></button>
            </fieldset>
            <table class="layui-table"></table>
        </div>
    </div>
</div>
<script th:inline="none">
    layui.use(['element', 'laydate', 'table','form'], function () {
        var $ = layui.jquery
            , table = layui.table
            , form =layui.form
            , laydate = layui.laydate;
        ; //Tab的切换功能，切换事件监听等，需要依赖element模块

        var xqJH = {
            initJH: function () {
                table.render({
                    elem: '#pxJH'  //绑定table id
                    , url: '/getPlanList'  //数据请求路径
                    , toolbar: '#toolbarDemo'
                    , cellMinWidth: 80
                    , cols: [[
                        {checkbox: true, fixed: true},
                        {field: 'planCode', title: '计划编码', sort: true},
                        {field: 'planTime', title: '时间', sort: true},
                        {field: 'planName', title: '计划名称', sort: true},
                        {field: 'trainObject', title: '培训对象', sort: true},
                        {field: 'trainType', title: '培训方式', sort: true},
                        {field: 'state', title: '状态', sort: true},
                        {title: '操作', width: 178, toolbar: '#editBar', fixed: "right", align: "center"}
                    ]]
                    , page: true   //开启分页
                    , limit: 5   //默认十条数据一页
                    , limits: [10, 20, 30, 50]  //数据分页条
                });
                table.on('tool(jhEdit)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'detail') {
                        layer.msg('ID：' + data.id + ' 的查看操作');
                    } else if (obj.event === 'del') {
                        var deleteData = {id: data.id};
                        xuqiu.deleteXQ(deleteData);
                    } else if (obj.event === 'edit') {
                        var editData = {title: '编辑', btn: '保存', data: data};
                        xuqiu.editXQ(editData);
                    }
                });
                //年选择器
                laydate.render({
                    elem: '#yearSelect'
                    ,type: 'year'
                });

                //年月选择器
                laydate.render({
                    elem: '#monthSelect'
                    ,type: 'month'
                });
                //年月日选择器
                laydate.render({
                    elem: '#dateSelect'
                });
                form.on('select(brickType)', function(data){
                    var t=data.value;
                    $("#yearSelect").hide();
                    $("#monthSelect").hide();
                    $("#dateSelect").hide();
                    if (t==0){
                        $("#yearSelect").show();
                    }
                    if (t==1){
                        $("#monthSelect").show();
                    }
                    if (t==2){
                        $("#dateSelect").show();
                    }
                });
            },
        };
        xqJH.initJH();
    });
    function selectType() {
        alert(123)
    }
</script>
</body>
</html>
