<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <script th:src="@{/plugins/layui/layui.js}"></script>
</head>
<body>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">安全教育培训计划</li>
        <li>安全教育培训变更记录</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <okToolbar>
                <button class="layui-btn" id="addUser">
                    <i class="iconfont icon-tianjiayonghu1"></i> 添加
                </button>
                <button class="layui-btn layui-btn-danger" id="batchDel">
                    <i class="iconfont icon-shanchu"></i> 删除选中数据
                </button>
                <button class="layui-btn" id="export">
                    <i class="iconfont icon-export"></i> 导出
                </button>
            </okToolbar>
            <table id="pxJH" lay-filter="jhEdit" class="layui-table"></table>
            <script type="text/html" id="jhBar" lay-filter="jhEdit">
                <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">详情</a>
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
        <div class="layui-tab-item">
            <okToolbar>
                <button class="layui-btn">
                    <i class="iconfont icon-export"></i> 导出
                </button>
            </okToolbar>
            <table id="pxBG" class="layui-table"></table>
        </div>
    </div>
</div>
<script th:inline="none">
    layui.use(['element', 'laydate', 'table', 'form'], function () {
        var $ = layui.jquery
            , table = layui.table
            , form = layui.form
            , laydate = layui.laydate;
        ; //Tab的切换功能，切换事件监听等，需要依赖element模块

        var xqJH = {
            initJH: function () {
                table.render({
                    elem: '#pxJH'  //绑定table id
                    , url: '/getPlanList'  //数据请求路径
                    , cellMinWidth: 80
                    , cols: [[
                        {checkbox: true, fixed: true},
                        {field: 'planCode', title: '计划编码', sort: true},
                        {field: 'planTime', title: '时间', sort: true},
                        {field: 'planName', title: '计划名称', sort: true},
                        {field: 'trainObject', title: '培训对象', sort: true},
                        {field: 'trainType', title: '培训方式', sort: true},
                        {field: 'state', title: '状态', sort: true},
                        {title: '操作', width: 178, toolbar: '#jhBar', fixed: "right", align: "center"}
                    ]]
                    , page: true   //开启分页
                    , limit: 10   //默认十条数据一页
                    , limits: [10, 20, 30, 50]  //数据分页条
                    , done: function (res) {

                    }
                });
                //监听表格中的工具
                table.on('tool(jhEdit)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'detail') {
                        layer.msg('ID：' + data.id + ' 的查看操作');
                    } else if (obj.event === 'del') {
                        var deleteData = {id: data.id};
                        xqJH.deleteJH(deleteData);
                    } else if (obj.event === 'edit') {
                        var editData = {title: '编辑', btn: '保存', data: data, type: obj.event};
                        xqJH.opEditWin(editData);
                    }
                });
                //监听表格头部工具
                table.on('toolbar(jhEdit)', function (obj) {
                    //新增数据
                    if (obj.event === 'add') {

                    }
                })
                //年选择器
                laydate.render({
                    elem: '#yearSelect'
                    , type: 'year'
                });

                //年月选择器
                laydate.render({
                    elem: '#monthSelect'
                    , type: 'month'
                });
                //年月日选择器
                laydate.render({
                    elem: '#dateSelect'
                });
            },
            initBG: function () {
                table.render({
                    elem: '#pxBG'  //绑定table id
                    , url: '/getChangeList'  //数据请求路径
                    , cellMinWidth: 80
                    , cols: [[
                        {checkbox: true, fixed: true}
                        , {field: 'planCode', title: '计划编码', sort: true,templet:'<div>{{d.planEntity.planCode}}</div>'}
                        , {field: 'changeState', title: '变更状态', sort: true}
                        , {field: 'planTime', title: '时间', sort: true,templet:'<div>{{d.planEntity.planTime}}</div>'}
                        , {field: 'planName', title: '计划名称', sort: true,templet:'<div>{{d.planEntity.planName}}</div>'}
                        , {field: 'planObject',title: '培训对象', sort: true,templet:'<div>{{d.planEntity.planObject}}</div>'}
                        , {field: 'planType', title: '培训方式', sort: true,templet:'<div>{{d.planEntity.planType}}</div>'}
                        , {field: 'remark', title: '备注', sort: true}
                    ]]
                    , page: true   //开启分页
                    , limit: 10  //默认十条数据一页
                    , limits: [10, 20, 30, 50]  //数据分页条
                });
            },
            /**
             *
             * @param obj 窗体需要的数据
             */
            opEditWin: function (obj) {
                layer.open({
                    type: 2, //类型，解析url
                    closeBtn: 1, //关闭按钮是否显示 1显示0不显示
                    title: obj.title, //页面标题
                    shadeClose: true, //点击遮罩区域是否关闭页面
                    shade: 0.8,  //遮罩透明度
                    area: ['100%', '100%'],  //弹出层页面比例
                    content: '/main/opJiHuaEdit',
                    success: function (layero, index) {
                        var body = layer.getChildFrame('body', index);
                        if (obj.type === 'edit') {
                            body.contents().find("#id").val(obj.data.id)
                            body.contents().find("#planCode").val(obj.data.planCode)
                            body.contents().find("#planName").val(obj.data.planName)
                            body.contents().find("#planType").val(obj.data.planType)
                            body.contents().find("#planBeginTime").val(obj.data.planBeginTime)
                            body.contents().find("#planEndTime").val(obj.data.planEndTime)
                            body.contents().find("#planContent").val(obj.data.planContent)
                            body.contents().find("#eduPurpose").val(obj.data.eduPurpose)
                            body.contents().find("#planObject").val(obj.data.planObject)
                        }
                        body.contents().find("#saveJH").click(function () {
                            var jh = {
                                id: body.contents().find("#id").val(),
                                planCode: body.contents().find("#planCode").val(),
                                planName: body.contents().find("#planName").val(),
                                planType: body.contents().find("#planType").val(),
                                planBeginTime: body.contents().find("#planBeginTime").val(),
                                planEndTime: body.contents().find("#planEndTime").val(),
                                planContent: body.contents().find("#planContent").val(),
                                eduPurpose: body.contents().find("#eduPurpose").val(),
                                planObject: body.contents().find("#planObject").val(),
                            };
                            xqJH.saveJH(jh, index);
                        });
                    }
                });
            },
            /**
             *
             * @param data 保存的数据
             * @param index 窗体索引
             */
            saveJH: function (data, index) {
                $.ajax({
                    url: '/savePlan'
                    , type: 'post'
                    , data: JSON.stringify(data)
                    , contentType: 'application/json;charset=UTF-8' //contentType很重要
                    , dataType: 'json'
                    , success: function (ret) {
                        xqJH.initJH();
                        layer.close(index);
                    }
                    , error: function (ret) {
                        console.log(JSON.stringify(ret));
                    }
                });
            },
            deleteJH: function (obj) {
                layer.confirm('你确定删除这条记录吗？', function (index) {
                    $.post("/deletePlanById/" + obj.id, function (ret) {
                        xqJH.initJH();
                        layer.close(index);
                    })
                });
            }
        };
        xqJH.initJH();
        xqJH.initBG();
        $("#addUser").click(function () {
            var editData = {title: '新增', btn: '保存', data: '', type: 'add'};
            xqJH.opEditWin(editData);
        })
    });

    function selectType() {
        alert(123)
    }
</script>
</body>
</html>
