<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>积卷网络</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <style>
        .layui-table-cell{
            height: auto;
            line-height: 28px;
            padding: 0 15px;
            position: relative;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">企业员工判断图片</li>
        <li>企业管控图片判断情况</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <script type="text/html" id="empUploadFile" lay-filter="empExamFilter">
                <img src="{{ d.uploadFile }}" lay-event="preView">
            </script>
            <script type="text/html" id="jhToolBar" lay-filter="jhEdit">
                <okToolbar>
                    <button class="layui-btn" lay-event="add">
                        <i class="iconfont icon-tianjiayonghu1"></i>时间段筛选
                    </button>
                    <button class="layui-btn layui-btn-danger" lay-event="deleteChecked">
                        <i class="iconfont icon-shanchu"></i>判断结果筛选
                    </button>
                </okToolbar>
            </script>
            <table id="empExamTab" lay-filter="empExamFilter" class="layui-table"></table>
        </div>
        <div class="layui-tab-item">
            <script type="text/html" id="enterpriseToolBar" lay-filter="jhEdit">
                <okToolbar>
                    <button class="layui-btn" lay-event="add">
                        <i class="iconfont icon-tianjiayonghu1"></i>时间段筛选
                    </button>
                    <button class="layui-btn layui-btn-danger" lay-event="deleteChecked">
                        <i class="iconfont icon-shanchu"></i>判断结果筛选
                    </button>
                </okToolbar>
            </script>
            <table id="enterpriseExamTab" lay-filter="jhEdit" class="layui-table"></table>
        </div>
    </div>
</div>
<script th:src="@{/plugins/layui/layui.js}"></script>
<script th:inline="none">
    layui.use(['element', 'laydate', 'table', 'form'], function () {
        var $ = layui.jquery
            , table = layui.table
            , form = layui.form
            , laydate = layui.laydate;
        var jjwl ={
            initEmpExam:function () {
                table.render({
                    elem: '#empExamTab'  //绑定table id
                    , url: '/getEmpExamPage'  //数据请求路径
                    , cellMinWidth: 80
                    , height: 'full-150'
                    , toolbar: '#jhToolBar'
                    , cols: [[
                        {field: 'uploadFile', title: '上传图片',templet:'#empUploadFile'},
                        {field: 'uploadUser', title: '判断人姓名', sort: true},
                        {field: 'examTime', title: '判断时间', sort: true},
                        {field: 'judgeResult', title: '判断结果', sort: true},
                        {field: 'comprehensiveResult', title: '综合判断结果', sort: true}
                    ]]
                    , page: true   //开启分页
                    , limit: 10   //默认十条数据一页
                    , limits: [10, 20, 50, 100]  //数据分页条
                    , done: function (res) {

                    }
                });
                //预览图片
                table.on('tool(empExamFilter)', function (obj) {
                    jjwl.preViewEmpFile(obj.data.uploadFile);
                })
            },
            initEnterpriseExam:function () {
                table.render({
                    elem: '#enterpriseExamTab'  //绑定table id
                    , url: '/getEnterpriseExamPage'  //数据请求路径
                    , cellMinWidth: 80
                    , height: 'full-150'
                    , toolbar: '#enterpriseToolBar'
                    , cols: [[
                        {checkbox: true, fixed: 'left'},
                        {field: 'uploadFile', title: '上传图片'},
                        {field: 'uploadTime', title: '上传时间', sort: true},
                        {field: 'uploadUser', title: '上传人', sort: true},
                        {field: 'examUser', title: '复核人', sort: true},
                        {field: 'comprehensiveResult', title: '综合判断结果', sort: true}
                    ]]
                    , page: true   //开启分页
                    , limit: 10   //默认十条数据一页
                    , limits: [10, 20, 50, 100]  //数据分页条
                    , done: function (res) {

                    }
                });
            },
            preViewEmpFile:function (imgFile) {
                var img = "<img src='" + imgFile + "'  />";
                var setting = {
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    skin: 'layui-layer-nobg', //没有背景色
                    shadeClose: true,
                    shade: 0.6, //遮罩透明度
                    content: img
                }
                var windowH = $(window).height();
                var windowW = $(window).width();
                jjwl.getImageWidth(imgFile,function(w,h){
                    //console.log("win:"+windowH+","+windowW);
                    //console.log("img:"+h+","+w);
                    // 调整图片大小
                    if(w>windowW || h>windowH){
                        if(w>windowW && h>windowH){
                            w = thisimg .width()*3;
                            h = thisimg .height()*3;
                            setting.area = [w+"px",h+"px"];
                        }else if(w>windowW){
                            setting.area = [windowW+"px",windowW*0.5/w*h+"px"];
                        }else{
                            setting.area = [w+"px",windowH+"px"];
                        }
                    }else{
                        setting.area = [w+"px",h+"px"];
                    }
                    // 设置layer
                    layer.open(setting);
                });
            },
            getImageWidth(url,callback){
                var img = new Image();
                img.src = url;

                // 如果图片被缓存，则直接返回缓存数据
                if(img.complete){
                    callback(img.width, img.height);
                }else{
                    // 完全加载完毕的事件
                    img.onload = function(){
                        callback(img.width, img.height);
                    }
                }
            }
        };
        jjwl.initEmpExam();
        jjwl.initEnterpriseExam();
    });
</script>
</body>
</html>
