<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>树形下拉选择器</title>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/treeSelect.css}">
    <script th:src="@{/plugins/layui/layui.js}"></script>
    <script th:src="@{/module/common.js}"></script>
</head>
<body style="padding: 25px;">
<div class="layui-container layui-form">
    <div class="layui-form-item">
        <input id="id" type="hidden" width="0px" height="0px" value="">
        <input id="userId" type="hidden" width="0px" height="0px" value="">
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input id="name" type="text" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>男</div></div>
                <input type="radio" name="sex" value="女" title="女"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>女</div></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">组织</label>
        <div class="layui-input-block">
            <input type="text" id="deptCode"  lay-filter="tree" class="layui-input" value="3" style="display: none;">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">入职时间</label>
            <div class="layui-input-inline">
                <input id="workTime" type="text" class="layui-input" placeholder="yyyy-MM-dd">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">健康状况</label>
            <div class="layui-input-inline">
                <div id="healthy"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工作表现</label>
            <div class="layui-input-inline">
                <div id="performance"></div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">熟练程度</label>
            <div class="layui-input-inline">
                <div id="skilled"></div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">安全培训</label>
            <div class="layui-input-inline">
                <div id="train"></div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">培训调查表</label>
            <div class="layui-input-inline">
                <input id="writeTime" type="file" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 350px">
            <button id="saveUser" type="button" style="margin-left: 40px" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
        </div>
        <div class="layui-inline">
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</div>

<script th:inline="text">
    layui.use(['treeSelect', 'form', 'layer','rate','laydate'], function () {
        var treeSelect = layui.treeSelect,
            form = layui.form,
            $ = layui.jquery,
            rate =layui.rate,
            laydate =layui.laydate,
            layer = layui.layer;
        var user ={
            initTreeSelect:function () {
                treeSelect.render({
                    // 选择器
                    elem: '#deptCode',
                    // 数据
                    data: '/dept/getDeptTree',
                    // 请求头
                    headers: {},
                    // 异步加载方式：get/post，默认get
                    type: 'get',
                    // 占位符
                    placeholder: '请选择部门',
                    // 是否开启搜索功能：true/false，默认false
                    search: true,
                    // 一些可定制的样式
                    style: {
                        folder: {
                            enable: true
                        },
                        line: {
                            enable: true
                        }
                    },
                    // 点击回调
                    click: function (d) {
                        console.log(d);
                    },
                    // 加载完成后的回调函数
                    success: function (d) {

                    }
                });
            }
        };
        laydate.render({
            elem: '#workTime',
            trigger: 'click'
        });

        // 通过layer打开
        $('#layer').click(function () {
            layer.open({
                type: 1,
                title: 'Layer',
                content: $('.layui-container'),
                area: ['100%', '100%']
            });
        });
        $('#btnDestory').click(function () {
            treeSelect.destroy('tree');
        });
        $('#btnRevoke').click(function () {
            treeSelect.revokeNode('tree', function (d) {
                console.log(d);
                console.log(d.treeId);
            });
        });
        user.initTreeSelect();
    });
</script>

</body>
</html>
